<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Contact Us for More Information!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Contact Us</a>
        </div>
    </div>
</aside>

